#new-product {

	padding: 10px;
	width: 200px;
}

#new-product:hover {
	background-color: lightgrey;
}

.main-body {
	margin-top: 10px;
}

.module-box {
	width: 100px;
	margin-top: 20px;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

div::-webkit-scrollbar {
    width: 8px;
    /*display: none;*/
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.9);
}
 
div::-webkit-scrollbar-thumb {
  background-color: rgba(40,40,0,0.3);
  width: 4px;
}

body::-webkit-scrollbar {
    width: 8px;
    display: none;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.9);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(40,40,0,0.3);
  width: 4px;
}
